<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.jav.db.MybatisMapper">
	<select id="findActressByName" parameterType="String"
		resultType="Actress">
		select
		* from t_actress where name=#{name}
	</select>
	<select id="findVideoByDesignation" parameterType="String"
		resultType="Video">
		select
		* from t_video where designation=#{designation}
	</select>
	<insert id="insertActress" parameterType="Actress">
		insert into
		t_actress(name,rank)
		values (#{name},#{rank})
	</insert>
	<insert id="insertVideo" parameterType="Video">
		insert into
		t_video(designation,video_name,uncensored,actress,theme,size,format)
		values
		(#{designation},#{video_name},#{uncensored},#{actress},#{theme},#{size},#{format})
	</insert>
</mapper>  