<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ranker.application"
            name="ranker">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="ranker">
         </property>
      </product>
   </extension>
   <extension
         id="ranker.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ranker.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="ranker.Perspective"
            id="ranker.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="ranker.View"
            id="ranker.view">
      </view>
   </extension>
 <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="menu:org.eclipse.ui.main.menu">
            <menu
                  id="ranker.help"
                  label="操作">
               <dynamic
                     class="ranker.action.ConfigItem"
                     id="ranker.config">
               </dynamic>
               <separator
                     name="ranker.separator1"
                     visible="true">
               </separator>
               <dynamic
                     class="ranker.action.FilterRankItem"
                     id="ranker.filterRank">
               </dynamic>
            </menu>
         </menuContribution>
      </extension>
</plugin>
